# FastAPI framework & extensions
fastapi[standard]>=0.115.12
pydantic==2.10.5
starlette>=0.46.1

# Automated tests
pytest>=8.3.5
pytest-env>=1.1.5
pytest-cov>=6.0.0
pytest-asyncio>=0.26.0

# Database
firebase-admin>=6.7.0
google-cloud-firestore>=2.0.0

# AI
google-genai

# Web Scrape
playwright

# Authentication & Authorization
PyJWT>=2.10.0

# Utils
markdownify  # converts html to md
weasyprint
markdown  # converts md to html
