@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@plugin "@tailwindcss/typography";

@theme {
  --font-sans: 'Roboto', sans-serif;

  --color-primary: #4f94ff;
}

@layer components {
  input {
    @apply border px-2 border-gray-300 bg-white rounded-xs focus:outline-primary/70;
  }

  textarea {
    @apply border-1 rounded-xs border-gray-300 bg-white focus:outline-primary/70 px-2 py-1;
  }

  button {
    @apply border-0 rounded-xs py-1 px-2 bg-primary text-white hover:bg-primary/90 cursor-pointer;
  }

  .drop-down {
    @apply bg-gray-50 p-2 rounded-xs focus:outline-none shadow-sm grow;
  }

  .multiselect-dropdown {
    @apply text-nowrap py-2 px-4 hover:bg-gray-200;
  }

  .form-section {
    @apply flex flex-col justify-start items-start w-full;
  }

  .section-title {
    @apply text-[18px] text-gray-800 mb-0.5 first-letter:text-primary first-letter:text-[20px];
  }

  .chip {
    @apply bg-gray-200 px-2 py-0.5 rounded-full text-[11px] mr-0.5 flex justify-center items-center gap-1;
  }

  .markdown-content {
    @apply prose prose-sm text-[0.7rem];
  }

  .markdown-content :not(pre) > code {
    @apply bg-gray-300 rounded px-1 py-0.5 mx-0.5;
  }

  /* Toast */

  .p-toast-message {
    --toast-bg: #e7e8eb80;
    --toast-acc: #000000;
  }

  .p-toast-message.info {
    --toast-bg: #c9ddff80;
    --toast-acc: var(--color-primary);
  }

  .p-toast-message.success {
    --toast-bg: #b2f3b980;
    --toast-acc: #61d66e;
  }

  .p-toast-message.warning {
    --toast-bg: #f3e5b380;
    --toast-acc: #f1c218;
  }

  .p-toast-message.error {
    --toast-bg: #ec9ca880;
    --toast-acc: #f13b3b;
  }

  .p-toast > div {
    @apply fixed right-0 bottom-0 m-6 text-sm w-60;
  }

  .p-toast-message > div {
    @apply mb-4 bg-[var(--toast-bg)] backdrop-blur-xl rounded p-2 text-[var(--toast-acc)] text-[12px] border-l-6 flex items-center;
  }

  .p-toast-summary {
    @apply text-[16px] font-bold
  }

  .p-toast-message-icon {
    @apply mr-2 w-4 h-4;
  }

  .p-toast-icon-close-icon {
    @apply w-3 h-3;
  }

  .p-toast-message-icon path,
  .p-toast-icon-close-icon path {
    @apply fill-[var(--toast-acc)];
  }
}