@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

@theme {
  --font-sans: 'Roboto', sans-serif;

  --color-primary: #4f94ff;
}

@layer components {
  input {
    @apply border px-2 border-gray-300 bg-white rounded focus:outline-primary/70;
  }

  textarea {
    @apply border border-gray-300 bg-white rounded focus:outline-primary/70 px-2 py-1 min-h-[20rem] text-[14px];
  }

  button {
    @apply border-0 rounded py-1 px-2 bg-primary text-white hover:bg-primary/90 cursor-pointer;
  }

  .form-section {
    @apply flex flex-col justify-start items-start w-full;
  }

  .section-title {
    @apply text-[18px] text-gray-800 mb-0.5 first-letter:text-primary first-letter:text-[20px];
  }

  /* React Prime components */
  .drop-down {
    @apply border-1 border-gray-300 py-1 px-2 rounded max-lg:grow basis-1;
  }

  .drop-down-panel {
    @apply rounded shadow-md border bg-white border-gray-200 w-fit;
  }

  .drop-down-item {
    @apply bg-white py-2 text-[14px] w-full hover:bg-gray-200;
  }

  /* Toast */

  .p-toast-message {
    --toast-bg: #e7e8eb80;
    --toast-acc: #000000;
  }

  .p-toast-message.info {
    --toast-bg: #c9ddff80;
    --toast-acc: var(--color-primary);
  }

  .p-toast-message.success {
    --toast-bg: #b2f3b980;
    --toast-acc: #61d66e;
  }

  .p-toast-message.warning {
    --toast-bg: #f3e5b380;
    --toast-acc: #f1c218;
  }

  .p-toast-message.error {
    --toast-bg: #ec9ca880;
    --toast-acc: #f13b3b;
  }

  .p-toast > div {
    @apply fixed right-0 bottom-0 m-6 text-sm w-60;
  }

  .p-toast-message > div {
    @apply mb-4 bg-[var(--toast-bg)] backdrop-blur-sm rounded p-2 text-[var(--toast-acc)] text-[12px] border-l-6 flex items-center;
  }

  .p-toast-summary {
    @apply text-[16px] font-bold
  }

  .p-toast-message-icon {
    @apply mr-2 w-4 h-4;
  }

  .p-toast-icon-close-icon {
    @apply w-3 h-3;
  }

  .p-toast-message-icon path,
  .p-toast-icon-close-icon path {
    @apply fill-[var(--toast-acc)];
  }

  /* Multiselect */

  .p-multiselect-item {
    @apply px-2 py-1 hover:bg-gray-100 cursor-pointer text-[14px];
  }

  .p-multiselect-header {
    @apply px-2 py-1 bg-gray-100 h-[2rem] flex justify-between items-center gap-3;
  }

  .p-multiselect-select-all-label,
  .p-checkbox-box {
    @apply hidden;
  }

  .p-checkbox-input {
    @apply cursor-pointer accent-[#5c90ff];
  }

  .p-multiselect-token {
    @apply bg-blue-100 text-primary px-2 rounded-full text-sm mr-0.5 flex justify-center items-center gap-1;
  }

  .p-multiselect-label.p-placeholder {
    @apply mr-0.5;
  }

  .p-multiselect-filter-container {
    @apply h-full flex justify-center items-center
  }
  .p-multiselect-filter-container input {
    @apply w-full h-full px-2 py-1 text-[12px];
  }

  .p-multiselect-filter-icon {
    @apply absolute right-0 mr-2 translate-y-[3px];
  }

  .p-multiselect-empty-message {
    @apply text-[12px] p-2;
  }
}